main{
    width: 100%;
    display: flex;
    gap: 30px;
    margin-top: 105px;
    padding: 0 165px;
    height: 100%;
    flex-wrap: wrap;
}

.jobPreview{
    background-color: white;
    width: 350px;
    height: 228px;
    padding: 30px 25px 25px 25px;
    border-radius: 6px;
    position: relative;
}
.innerBox{
width: fit-content;
}
span{
    font-weight: 400;
    font-size: 16px;
    color: #6E8098;
}
p.generalInfo{
    display: flex;
    gap: 28px;

}
p.country{
    color: #5964E0;
    font-size: 14px;
    font-weight: 700;
    margin: 40px 0 0 0;
}
img{
    position: absolute;
    top: -25px;
}
h2{
    font-weight: 700;
    font-size: 20px;
}